@import "../../../../../../styles/variables";

.sort-panel {
  display: flex;
  padding: 15px 0;
  font-size: 17px;
  justify-content: space-between;
  border-bottom: 2px solid $gray;

  &__wrapper {
    display: flex;
    
    @media only screen and (max-width: 680px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__sort {
    display: flex;
    cursor: pointer;

    &--title {
      margin-right: 40px;
      color: $gray;

      @media only screen and (max-width: 680px) {
        margin-bottom: 10px;
      }
    }

    &--arrow {
      &-rotated {
        transform: rotate(180deg);
      }
    }
  }
}
