@import "src/app/styles/variables";

.input {
  caret-color: white;
  font-size: 20px;
  padding: 17px;

  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(100%) brightness(50%) sepia(100%) saturate(10000%);
  }

  @media only screen and (max-width: 450px) {
    font-size: 16px;
    padding: 19px;
  }

  &:focus {
    outline: none;
  }

  &--labeled {
    margin-top: 15px;
  }

  &__wrapper {
    margin-top: 20px;
  }

  &__label {
    color: $light-red;
    font-weight: 600;
    font-size: 17px;
  }

  &__transparent {
    background-color: rgba(45, 45, 45, 0.8);
    border: none;
    border-radius: $bd-radius-sm;
    width: 100%;
    color: $white;
  }
}
