@import "src/app/styles/variables";

.input {
  caret-color: white;

  &:focus {
    outline: none;
  }

  &__transparent {
    background-color: rgba(45, 45, 45, 0.8);
    padding: 17px;
    font-size: 20px;
    border: none;
    border-radius: $bd-radius-sm;
    width: 100%;
    color: $white;
  }
}
