@import "src/app/styles/variables";

.banner {
  position: relative;
  margin-bottom: 10px;
  height: 420px;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../../shared/icons/movielist.webp");
  background-size: cover;

  &__wrapper {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
  }

  &__content {
    height: 100%;
    width: 85%;
    position: absolute;
    top: 0;

    &__panel {
      position: absolute;
      width: 100%;
      top: 25%;
      display: flex;
      justify-content: center;
    }

    &__title {
      position: absolute;
      width: 100%;
      top: 3%;
      left: 0;
      text-align: center;
      font-size: 22px;
      color: $light-red;
      display: flex;
      justify-content: space-between;
    }
  }
}
