@import "../../../styles/variables";

.main {
  color: $white;
  width: 100%;
  margin-bottom: 30px;

  &__quantity {
    margin: 22px 0;
    font-size: 20px;

    @media only screen and (max-width: 800px) {
      text-align: center;
    }
  }
}
