@import "variables";

@mixin modal-header {
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: 300;
  letter-spacing: 2px;
}

@mixin default-label {
  color: $light-red;
  font-weight: 600;
  font-size: 18px;
}
