@import "src/app/styles/variables";

.btn {
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &--small {
    padding: 10px 18px;
  }

  &--large {
    padding: 17px 65px;
  }

  &--red {
    background-color: $light-red;
    color: $white;

    &:hover {
      background-color: $gray;
      color: $light-red;
    }
  }

  &--transparent {
    background-color: rgba(85, 85, 85, 0.7);
    color: $light-red;

    &:hover {
      background-color: $light-red;
      color: $white;
    }
  }
}
