@import "src/app/styles/variables";

.btn {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &--small {
    padding: 15px 35px;
  }

  &--large {
    padding: 17px 65px;
  }

  &--red {
    background-color: $light-red;
    color: $white;

    &:hover {
      background-color: $gray;
      color: $light-red;
    }
  }

  &--transparent {
    background-color: transparent;
    color: $light-red;
    border: 1px solid $light-red;

    &:hover {
      background-color: $light-red;
      color: $white;
    }
  }
}
